<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd 
    ">
         <!-- 要调用的工作类 -->
     <bean name="exampleJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="com.jsy.develop.ExampleJob"/>
		<property name="jobDataAsMap">
		<map>
		<entry key="timeout" value="5"/>
		</map>
		</property>
	 </bean>
	 
     
     <bean id="exampleBusinessObject" class="com.jsy.develop.ExampleJobTask"/>
     
     
     <!-- 定义调用对象和调用对象的方法 -->
     <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
          <!-- 调用的类 -->
          <property name="targetObject" ref="exampleBusinessObject"/>
          <!-- 调用类中的方法 -->
          <property name="targetMethod" value="doBiz"/>
          <property name="concurrent" value="false"/>
     </bean>
     
     
     <!-- 定义触发时间 -->
     <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
          <property name="jobDetail" ref="exampleJob"/>
          <!-- cron表达式 -->
          <property name="cronExpression" value="0 0 5 * * ?"/>
     </bean>
     
    
     
	  <!-- 间隔时间执行 -->
     
     <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean"> 
		<!-- see the example of method invoking job above -->
		 <property name="jobDetail" ref="jobDetail"/>
		<!-- 10 seconds -->
		 <property name="startDelay" value="100000"/>
		<!-- repeat every 50 seconds -->
		 <property name="repeatInterval" value="36000000"/>
	 </bean>
     
     
     <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
          <property name="triggers">
           <list>
                <ref bean="cronTrigger" />
                <ref bean="simpleTrigger" />
           </list>
          </property>
     </bean>
     
     
   
</beans>